<div class="has-text-grey-dark has-text-weight-bold is-italic ">
  "<%= comment.body %>"
</div>
<div class="is-size-7 has-text-grey-lighter">
  -<%= link_to comment.user.screenname, user_recipes_path(comment.user), class: "user-link" %> (<%= comment.created_at.strftime("%I:%M %p %m/%e/%y") %>)
</div>
<hr>
