<div class="nested-fields">
  <div class="field">
    <%= f.text_area :step, class: "textarea", placeholder: "Directions step goes here...", rows: 3 %>
  </div>
  <%= link_to_remove_association "Remove Step", f, class: "form-button btn btn-default" %>
</div>
