<div class="level filter-section">
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "By Ingredient", ingredients_path %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Hardest Recipes", recipes_hardest_path %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Easiest Recipes", recipes_easiest_path %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Most Comments", recipes_most_active_path %>
      </p>
    </div>
  </div>

</div>
