<div class="level filter-section">
  
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Easiest Recipes", recipes_easiest_path , class: "red" %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Most Comments", recipes_most_active_path , class: "red" %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "By Ingredient", ingredients_path, class: "red" %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Top Contributors", top_contributors_path , class: "red" %>
      </p>
    </div>
  </div>

</div>
