<div class="nested-fields field">
  <div class="control">
      <%= f.text_field :quantity, class: 'input', placeholder: 'Qty' %>
      <%= f.text_field :unit, class: 'input', placeholder: 'unit(s)' %>
  </div>
</div>
