<div class="nested-fields field">
  <div class="field has-addons">
    <div class="control">
      <%= link_to_remove_association f, class: 'button is-info is-light' do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
    <div class="control">
      <%= f.collection_select(:recipe_ingredient, Ingredient.order(:name), :id, :name, {include_blank: "Select Ingredient"}) %>
  </div>
</div>
