<div class="main_content">

  <div class="level">
    <div class="level-item">
      <p class="title">
        Users
      </p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">

      <%= render 'users/show_users' %>

    </div>
  </div>
  
</div>
