<div class="main_content">

  <div class="level">
    <div class="level-item">
      <p class="title is-2">
        Top Contributors <i class="fas fa-trophy red"></i>
      </p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half is-offset-one-quarter" id="recipe_info">
      <%= render 'users/show_users' %>
    </div>
  </div>

</div>
